{% extends 'base.html.twig' %}

{% block title %}Calendify!{% endblock %}

    {% block stylesheets %}
        <style>
            #calendar{
                width: 80%;
                margin: auto;
            }
        </style>
    {% endblock %}

{% block body %}
    <div class="container-fluid mt5 pt-6" style="padding-top: 60px;">

        <div class="row">
            <div class="col col-md-3">
                <div class="mt5 pt-6" id="profile">

                        <div class="col-auto">
                            <a href="/calendar/new"  class="btn btn-success mb-3">Ajouter un évènement</a>
                        </div>

                    <div class="events-list">
                        <ul class="list-group">

                            {% for calendar in calendars %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="row">
                                        <div class="col col-9">
                                            {{calendar.title}}
                                        </div>
                                        <div class="col col-3">
                                            <a class="btn btn-primary" href="{{ path('calendar_edit', {'id': calendar.id}) }}">Edit</a>
                                            <a class="btn btn-secondary" href="{{ path('calendar_show', {'id': calendar.id}) }}">Voir plus </a>


                                            <form method="post" action="{{ path('calendar_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col col-md-9">
                <div id="calendar">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
 <script>

     console.log({{ events | raw }})
     window.onload = () => {
     let calendarElt = document.querySelector("#calendar")

     let calendar = new FullCalendar.Calendar(calendarElt, {
         initialView: 'dayGridMonth',
         locale: 'fr',
         timeZone: 'Europe/Paris',
         events: {{ events|raw }},
         headerToolbar: {
         start: 'prev,next today',
         center: 'title',
         end: 'dayGridMonth,timeGridWeek',

            }
 })

     calendar.render()
 }
 </script>

 {% endblock %}
